Binaries
DerivedDataCache
Intermediate
Saved
CMakeLists.txt
PopielTower.kdev4
PopielTower.pro
PopielTower.pro.user
PopielTowerCodeCompletionFolders.txt
.kdev4

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
